/*
Colores
  purple: hsl(263, 55%, 52%)
  grey: hsl(217, 19%, 35%)
  dark-blue: hsl(219, 29%, 14%)

Fuente de la página
  https://fonts.google.com/specimen/Barlow+Semi+Condensed
  Estilos 500 y 600
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: rgb(255 255 255 /0.7);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
}

.grid-cards{
  position:relative;
  margin-top: 3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.card{
  display: inline-block;
  position: relative;  
  border-radius: 1em;
  padding: 1.5em;
  width: 250px;
  height:300px;
  line-height: 1.25em;
  margin: 0 0.5em 1em;
  vertical-align: top;
}
.card--double-width{
  width: 500px;
}

.card--double-height{
  height: 630px;
}

.card--violet{
  background-color: #7541c8;
}
.card--dark-blue{
  background-color:#19212e;
}
.card--white{
  background-color:#fff;
  color: rgb(0 0 0 / 0.6);
}
.card--blue-gray{
  background-color:#48556a;
}

.fourth__card,
.fifth__card
{
  position: absolute;
  top: 330px;
}

.fourth__card{
  left: 0;
}

.fifth__card{
  left: 270px;
  
}

.card__header{
  height: 75px;
}

.card__decoration{
  position: absolute;
  right:20%;
  top: 15%;
}

.user__picture{
  border-radius: 50%;
  vertical-align: middle;  
}

.user__info{
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
  font-size: 0.75rem;
}

.card__title{
  position:relative;
  font-size: 1rem;
  z-index: 10;
  color: #fff;
  font-weight: 600;
}

.card__title--black{
  color: #000;
}

.card__text{
  position:relative;
  z-index: 10;
  font-size: 0.75rem;
}


